<div>
    <p>Id: {{detailsOfEmp?.id}}</p>
    <p>First Name: {{detailsOfEmp?.firstName}}</p>
    <p>Last Name: {{detailsOfEmp?.lastName}}</p>
    <p>Date of Birth: {{detailsOfEmp?.dateOfBirth}}</p>
    <p>Age: {{detailsOfEmp?.age}}</p>
    <p>Date of Joining: {{detailsOfEmp?.dateOfJoining}}</p>
    <p>Country: {{detailsOfEmp?.country}}</p>
</div>

<button (click)="backToEmplist()">Back</button>

<style>
    div{
        text-align: center;
    }
    button{
        padding: 8px;
        background-color: greenyellow;
    }
</style>